<!--

    Author: Brendon Newton
    Project: Trampoline DD Calculator
    Filename: calculator.html
    Last Updated: 3/7/2024

    Description: This file contains the HTML for the DD Calculator website

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js" defer></script>
    <title>DD Calculator</title>
</head>

<body>
    <div id="calculator">
        <h1>Trampoline DD Calculator</h1>
        <form action="/calculate" method="POST">
            <div id="output">
                {%if result is defined%}
                {{"Result: "+result}}
                {%endif%}
            </div>

            <table id="button-container">
                <tr>
                    <td colspan="4">
                        <div id="result-field">
                            <input type="text" name="result-value" id="result-value" value="">
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><button type=button onclick='addValue("7")'>7</button></td>
                    <td><button type=button onclick='addValue("8")'>8</button></td>
                    <td><button type=button onclick='addValue("9")'>9</button></td>
                    <td><button type=button onclick="clearResult()">C</button></td>

                </tr>

                <tr>
                    <td><button type=button onclick='addValue("4")'>4</button></td>
                    <td><button type=button onclick='addValue("5")'>5</button></td>
                    <td><button type=button onclick='addValue("6")'>6</button></td>
                    <td><button type=button onclick='addValue("o")'>Tuck</button></td>

                </tr>

                <tr>
                    <td><button type=button onclick='addValue("1")'>1</button></td>
                    <td><button type=button onclick='addValue("2")'>2</button></td>
                    <td><button type=button onclick='addValue("3")'>3</button></td>
                    <td><button type=button onclick='addValue("<")'>Pike</button></td>
                </tr>

                <tr>
                    <td><button type=button onclick='addValue("0")'>0</button></td>
                    <td><button type=button onclick='addValue("+")'>+</button></td>
                    <td><button type=button onclick='addValue("-")'>-</button></td>
                    <td><button type=button onclick='addValue("/")'>Straight</button></td>
                </tr>

                <tr>
                    <td colspan="4"><button type="submit" style="background-color: #496f8a;">Calculate</button></td>
                </tr>

            </table>
        </form>
    </div>

</body>

</html>