<!--

    Author: Brendon Newton
    Project: Trampoline DD Calculator
    Filename: calculator.html
    Last Updated: 3/10/2024

    Description: This file contains the HTML for the DD Calculator website

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/buttons.css">
    <script src="/static/script.js" defer></script>
    <script src="/static/menu.js" defer></script>
    <title>DD Calculator</title>
</head>

<body>
    <div id="calculator">
        <form id="calculator-form" action="/calculate" method="POST">
            <h1>Trampoline DD Calculator</h1>

            <div class="output" style="font-size: x-large;">
                {%if result is defined%}
                {{"Result: "+result}}
                {%endif%}
            </div>

            <div class="upper-container">

                <textarea name="result-value" id="result-value" readonly></textarea>
                <input id="hidden-result" type="hidden" name="hidden-result"></input>

                <div id="menu" class="hidden">
                    <div id="menu-header">
                        <button type="button" id="close-button" onclick="closeMenu()">Close</button>
                        <button type="button" id="menu-add" onclick="addCombination()">Add Combination</button>
                        <button type="button" id="menu-remove" onclick="removeCombination()">Remove Combination</button>
                    </div>
                </div>

                <div id="remove-prompt" class="hidden prompt">
                    <label id="remove-head" class="panel-header">Enter the name of the combination to remove:</label>
                    <div id="remove-panel" class="panel">
                        <input type="text" id="remove-input" placeholder="Name of Combination">
                        <button type="button" class="submit" onclick="submitRemove()">Submit</button>
                        <button type="button" class="cancel" onclick="cancelRemove()">Cancel</button>
                    </div>
                </div>

                <div id="name-prompt" class="hidden prompt">
                    <label id="name-head" class="panel-header">Enter a name for your combination</label>
                    <div id="name-panel" class="panel">
                        <input type="text" id="name-input" placeholder="Name of Combination">
                        <button type="button" class="submit" onclick="submitName()">Submit</button>
                        <button type="button" class="cancel" onclick="cancelName()">Cancel</button>
                    </div>
                </div>

                <div id="combo-prompt" class="hidden prompt">
                    <label id="combo-head" class="panel-header">Add a skill to your combination:</label>
                    <div id="combo-panel" class="panel">
                        <input type="text" id="combo-input" placeholder="Skill">
                        <input id="hidden-combo" type="hidden" name="hidden-combo"></input>
                        <button type="button" class="submit" onclick="submitSkill()">Submit</button>
                        <button type="button" class="cancel" onclick="submitCombo()">Done</button>
                    </div>
                </div>

                <div id="add-prompt" class="hidden prompt">
                    <output type="text" id="combo-name" class="panel-header"></output>
                    <textarea name="combo-value" id="combo-value" class="panel-header" readonly
                    style="resize: none; font-size: 1.5em; background-color: #496f8a; border: none;
                    margin-top: 2%;"></textarea>
                    <div id="add-panel" class="panel">
                        <button type="button" class="submit" onclick="submitAdd()">Add Combo</button>
                        <button type="button" class="cancel" onclick="cancelAdd()">Cancel</button>
                    </div>
                </div>

            </div>


            <div class="button-container">

                <button type=button onclick='addValue("7")'>7</button>
                <button type=button onclick='addValue("8")'>8</button>
                <button type=button onclick='addValue("9")'>9</button>
                <button type=button onclick="clearResult()">C</button>
                <button type=button onclick='addValue("4")'>4</button>
                <button type=button onclick='addValue("5")'>5</button>
                <button type=button onclick='addValue("6")'>6</button>
                <button type=button onclick='addValue("+")'>+</button>
                <button type=button onclick='addValue("1")'>1</button>
                <button type=button onclick='addValue("2")'>2</button>
                <button type=button onclick='addValue("3")'>3</button>
                <button type=button onclick='addValue("-")'>-</button>
                <button type=button onclick='addValue("0")'>0</button>
                <button type=button onclick='addValue("•")'>•</button>
                <button type=button onclick='addValue("<")'><</button>
                <button type=button onclick='addValue("/")'>/</button>

            </div>

            <div class="bottom-container">
                <button type="button" onclick="toggleMenu()">Menu</button>
                <button type="submit" id="calculate">Calculate</button>
            </div>

        </form>
    </div>

</body>

</html>